:root {
    --teal: #53d3d1;
    --amber: #feb249;
    --blue: #002447;
    --grey: #f3f4f6;
    --white: #ffffff;
  }
  
  .tk-text-blue {
    color: var(--blue);
  }
  
  .tk-text-teal {
    color: var(--teal);
  }
  
  .tk-text-amber {
    color: var(--amber);
  }
  
  .tk-bg-grey {
    background-color: var(--grey);
  }
  
  .tk-bg-amber {
    background-color: var(--amber);
  }
  
  .tk-bg-teal {
    background-color: var(--teal);
  }
  
  .tk-border-blue {
    border-color: var(--blue);
  }
  
  .tk-border-teal {
    border-color: var(--teal);
  }
  
  .tk-border-amber {
    border-color: var(--amber);
  }
  
  .material-icons.md-18 {
    font-size: 18px;
  }
  .material-icons.md-24 {
    font-size: 24px;
  }
  
  